<div class="container">
  <div class="row">
    <div class="col-3">
      <% @buyers_messages.first.each do |seller| %>
        <div class="message-link" id="m-no-<%= seller.id %>">
          <%= seller.name %>
        </div>
      <% end %>
    </div>

    <div class="col-9">
      <% @buyers_messages.last.each do |m_a| %>
        <div class="message-holder" id="mh-no-<%= m_a.first.seller_id %>">
          <% m_a.each do |m| %>
            <div class="message <%= m.sender %> b-id-<%= m.seller_id %>">
              <%= m.content %>
            </div>
          <% end %>
          <br />
        </div>
      <% end %>
    </div>
  </div>
</div>

<style media="screen">

  .true {
    background-color: rgba(81, 190, 181, 1);
    border: 1px solid #57BDB5;
    text-align: left;
  }

  .false {
    border: 1px solid #57BDB5;
    text-align: right;
    margin-left: auto;
  }
</style>

<script type="text/javascript">
  $(document).ready( () => {
    $('.message-link').click( function() {
      let thisFullID = $(this).attr('id');
      let thisID = thisFullID[thisFullID.length - 1];

      $('#mh-no-' + thisID).toggle();

      if ( $(this).hasClass('message-link-clicked') ) {
        $(this).removeClass('message-link-clicked');
      } else {
        $(this).addClass('message-link-clicked');
      }
    })
  })
</script>
