<div class="container">
  <div class="row">
    <div class="col-3 offset-1">
      <% @sellers_messages.first.each do |buyer| %>
        <div class="message-link" id="m-no-<%= buyer.id %>">
          <%= buyer.name %>
        </div>
      <% end %>
    </div>

    <div class="col-7">
      <% @sellers_messages.last.each do |m_a| %>
        <div class="message-holder" id="mh-no-<%= m_a.first.buyer_id %>">
          <% m_a.each do |m| %>
            <div class="message <%= m.sender %> b-id-<%= m.buyer_id %>">
              <%= m.content %>
            </div>
          <% end %>
          <br />
        </div>
      <% end %>
    </div>
  </div>
</div>

<style media="screen">
  .true {
    border: 1px solid #57BDB5;
    text-align: right;
    margin-left: auto;
  }

  .false {
    background-color: rgba(81, 190, 181, 1);
    border: 1px solid #57BDB5;
    text-align: left;
  }
</style>


<script type="text/javascript">
  $(document).ready( () => {
    $('.message-link').click( function() {
      $('.message-link').removeClass('message-link-clicked');
      $('.message-holder').hide()

      let thisFullID = $(this).attr('id');
      let thisID = thisFullID[thisFullID.length - 1];

      $('#mh-no-' + thisID).show();
      $(this).addClass('message-link-clicked');

    })
  })
</script>
