<div class='reply-field'>
<h5>Messaging <%= @buyer.name %></h5>

<%= form_for @message, :local => true do |f| %>
    <%= f.text_area :content, class: 'reply-textarea', required: true %>
    <%= f.hidden_field :sender, :value => 'true' %>
    <%= f.hidden_field :buyer_id, :value => @buyer.id %>
    <%= f.hidden_field :seller_id, :value => @seller.id %>
    <br>

    <%= f.submit "Send", class: 'reply-send' %>
<% end %>
</div>
