<div class='row profile'>

    <div class='right mr-auto text-center'>
    
    <% if @seller.avatar.present? %>
        <div>
        <%= image_tag(@seller.avatar.url, :size => "120x120", class: "img-circle") %>
        </div><br/>
    <% else %>
        <div>
        <%= image_tag('profile_default-02.png', :size => "120x120", class: "img-circle") %>
        </div><br/>
    <% end %>

    <% if current_seller %>
        <%= current_seller.name %><br>
        <%= current_seller.email %><br>
    <% end %>
        You have <%= current_seller.requests.where(status: false).size %> open request<br>
        <%= link_to 'Messages', show_seller_message_path %><br><br><br><br>
        <%= link_to 'Edit Profile', edit_seller_registration_path%><br>
        <%= link_to 'Log Out', destroy_seller_session_path, method: :delete %><br />
    </div>

    <div class='left ml-auto'>
        <h4>Open Requests</h4>
            <table class="table table-striped">
                <tr>
                <th>Title</th>
                <th>Total Bids</th>
                <th>Bid</th>
                </tr>

                <% current_seller.requests.where(status: false).each do |r| %>
                <tr>
                    <td><%= link_to r.title, request_path(r.id) %></td>
                    <td><%= r.buyer_requests.count %></td>
                    <td>
                    <% if r.status %>
                        Closed
                    <% else %>
                        <%= link_to 'View', request_bids_path(req_id: r.id) %>
                    <% end %>
                    </td>
                </tr>
                <% end %>
            </table>

        <h4>Closed Requests</h4>
            <table class="table table-striped">
                <tr>
                <th>Title</th>
                <th>Accepted Price</th>
                </tr>

                <% current_seller.requests.where(status: true).each do |r| %>
                <tr>
                    <% r.buyer_requests.where(sold: true).each do |bid| %>
                      <td><%= r.title %></td>
                      <td><%= bid.price %></td>
                    <% end %>
                </tr>
                <% end %>
            </table>

    </div>
</div>



  <%# current_seller.requests[0].buyer_requests[0].price %>