<h2 class="text-center">New Request</h2>

<%= form_for @request do |f| %>

  <%= f.hidden_field :seller_id, value: current_seller.id %>

  <div class='row'>
    <div class='col-md-6 ml-auto mr-auto new-item-title'>
      <%= f.label :title, class: "form-group" %>
      <%= f.text_field :title, class: "form-control", placeholder: "Title For Your Request" %>
    </div>
  </div>

  <br />

  <div id="items-forms-holder" class="new-item">
    <div id="ifsh-0" class="one-new-item">
      <%= f.fields_for :items, Item.new do |f| %>
        <%= render 'items_form', f: f %>
      <% end %>
    </div>
  </div>

  <div align="center">
    <button type="button" id="add-item-field" class="btn btn-md btn-primary">Add Item</button>
    <%= f.submit 'Submit', class: "btn btn-md btn-success" %>
  </div>

<% end %>

<script type="text/javascript">
  $(document).ready( () => {
    let counter = 1;

    $('#add-item-field').click( () => {
      let itemsForm = $('#items-forms-holder').children().first()[0].outerHTML;
      let inputs = $(itemsForm).find('input')

      for (let i = 0; i < inputs.length; i++) {
        let currentName = inputs[i].name;
        let currentId = inputs[i].id;

        let newName = currentName.replace('0', counter);
        let newId = currentId.replace('0', counter);

        itemsForm = itemsForm.replace(currentName, newName);
        itemsForm = itemsForm.replace(currentId, newId);
      }

      itemsForm = itemsForm.replace('remove-0', 'remove-' + counter);
      itemsForm = itemsForm.replace('ifsh-0', 'ifsh-' + counter);

      $(itemsForm).appendTo( $('#items-forms-holder') );
      counter += 1
    });

    $(document).on('click', '.remove-item-line' ,function() {
      let attrId = $(this).attr('id');
      let itemNo = parseInt(attrId[attrId.length - 1]);

      $('#ifsh-' + itemNo).remove();
    })

  });
</script>
