<nav class="navbar navbar-expand-lg navbar-light bg-light jodi_nav">

  <a href='/'><%= image_tag 'logo-01.png', alt: 'logo', style:"height: 50px;" %></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if current_seller %>
        <li class="nav-item">Seller</li>
      <% end %>
      
      <% if current_buyer %>
        <li class="nav-item">Buyer</li>
      <% end %>

    </ul>

    <ul class="navbar-nav ml-auto">
      <% if current_seller %>
        <li class="nav-item">
          <%= link_to 'New Request', new_request_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to 'Messages', show_seller_message_path, class: "nav-link" %>
        </li>
      <% end %>

      <% if current_buyer %>
        <li class="nav-item">
          <%= link_to 'All Requests', requests_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to 'Messages', show_buyer_message_path, class: "nav-link" %>
        </li>
      <% end %>

      <% unless current_buyer || current_seller %>
        <li class="nav-item">
          <%= link_to 'Login', new_seller_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Register', new_seller_registration_path, class: "nav-link" %>
        </li>
      <% end %>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_buyer %>
            <%= current_buyer.name %>
          <% elsif current_seller %>
            <%= current_seller.name %>
          <% else %>
            Are you a Buyer?
          <% end %>
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <% unless current_buyer || current_seller %>
            <%= link_to 'Login', new_buyer_session_path, class: 'dropdown-item' %>
            <%= link_to 'Register', new_buyer_registration_path, class: 'dropdown-item' %>
          <% end %>

          <% if current_buyer %>
            <%= link_to 'Dashboard', buyer_path(current_buyer.id), class: 'dropdown-item' %>
            <%= link_to 'My Bids', buyer_bids_path, class: 'dropdown-item' %>
            <%= link_to 'Log Out', destroy_buyer_session_path, method: :delete, class: 'dropdown-item' %>
          <% end %>

          <% if current_seller %>
            <%= link_to 'Dashboard', seller_path(current_seller.id), class: 'dropdown-item' %>
            <%= link_to 'My Requests', request_index_path, class: 'dropdown-item' %>
            <%= link_to 'Log Out', destroy_seller_session_path, method: :delete, class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>
