<!DOCTYPE html>
<html>
  <head>
    <title>ThrowLeh!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'layouts/nav' %>
      <%= render 'shared/alerts' %>
      <div class="wrapper">
        <%= yield %>
      </div>
  </body>
  <%# <footer class="footer">Made By 'The Powerhouses'</footer> %>
</html>




<%# commented out stuff for footer %>