<!DOCTYPE html>
<html>
  <head>
    <title>ThrowLeh!</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="wrapper">
      
        <%= render 'layouts/nav' %>
        <%= render 'shared/alerts' %>
        <div class="wrapper-inside">
          <%= yield %>
      </div>
      </div>
      <footer class="footer"></footer>
  </body>
</html>




<%# commented out stuff for footer %>